


.raleway-normal {
  font-family: "Raleway", sans-serif; 
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav Styles*/
nav{
    display: flex;
   align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-logo{
    font-weight: 800;
    font-size: 34px;
}

.logo-color{
    color: #4E47FF;
}
.btn-color{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 11.5px 36px;
    border-radius: 5px;
}
/* Banner */

.banner{
    text-align: center;
    padding: 309px 267.5px 152px 267.5px;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* Header */
.header{
    background-image: url(../Assets/Hero-bg.png);
}

/* Main Section */

.about{
    display: flex;
    max-width: 1140px;
    margin: 150px 92px 150px 92px ;
    justify-content: space-between;
    
}

.section-area{
padding: 62.5px 0px 120px;
}

.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
}
.banner-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.section-area-01{
  background: #d5d4f2;
  height: 306px;
  width: 1140px;
  margin: 0 auto;
  border-radius: 20px;
  
}
.text size{
    font-weight: bold;
    font-size: 80px;
}
.section-title-01{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  padding: 50px 80px;
  
}
.section-text{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 158px;
  
}

.user-description{
  font-size: 20px;
  font-weight: 400;
}

.section-area-02{
  margin: 140px 150px;

}



.user-say{
  width: 367px;
  height: 245px;
  margin: 50px 0px;
  padding: 20px;
  background-color: hsla(0, 12%, 95%, 0.705);
  border-radius: 15px;
}

.user-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.user-description{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
}

.image-div{
  display: inline-block;
  display: flex;
  align-items: start;
  margin-bottom: 40px;
 }

#section-area{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}



.mini-div{
  display: flex;
  gap: 5px;
}
.mini-img img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.Reviewer-name{
  color: #757575;
  text-align: center;
}


.review-date{
  text-align: left;
  color: #B3B3B3;
}
.mini-img{
    
display: flex;

}
.section-area-02-title{
    text-align: center;
    width: 1140px;
    height: 49;
    font-size: 42px;
    font-weight: bold;
}

.section-03{
  background:hsla(0, 12%, 95%, 0.705);
  height: 700px;
  width: 1140px;
  border-radius: 10px;
  padding: 71px 0px;
  margin-top: 20px;
  margin-left: 50px;
}
.title-3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.description-3{
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.started-btn{
    text-align: center;
    padding: 20px;
}
.section-3-img{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    display: flex;
  padding: 20px 150px 71px 150px;
}

/* Login Form */
.section-04{
  margin-top: 100px;
  padding-bottom: 14px;
}
.get-in-touch{
  display: flex;
  justify-content: space-between;
  font-size: 97px;
  font-weight: bold;
  margin-left: 150px;
}
.log-in-form{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
  margin-right: 150px;
}
.main-log-in label{
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.log-in-form input, textarea{
  font-size: 20px;
  background: rgb(232, 232, 231);
  width: 400px;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.section-03{
  height: 632px;
  width: 1140px;
}


